[user]
        name = Craig Genner
        email = craig.genner@engineering.digital.dwp.gov.uk
	signingkey = EFBF21E18ADF4A6B
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[alias]
        com = !git checkout main && git pull
        co = checkout
        ci = commit
        st = status
        dc = diff --cached
        lg = log --decorate --stat --graph --pretty=format:'%C(yellow)%h%Creset (%ar - %Cred%an%Creset), %s%n'
        lp = log -p
        lps = log -p --show-signature
        logp = log -p
        br = branch
        bl = branch -l
        mm = merge main
[help]
	autocorrect = 20
[core]
        whitespace = cr-at-eol
        excludesfile = ~/.gitignore
        autocrlf = input
        editor = vi
[http]
        sslVerify = false
[pull]
        rebase = true
[push]
        default = simple
	autoSetupRemote = true
[status]
	showUntrackedFiles = all
[commit]
	gpgsign = true
	#template = ~/.gitmessage
[remote "origin"]
  prune = true
[diff]
  noprefix = true
[credential]
	helper = store
