[user]
        name = Craig Genner
        email = craig.genner@bjss.com
	signingkey = 11577110685AF48D
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[alias]
        co = checkout
        ci = commit
        st = status
        dc = diff --cached
        lg = log --decorate --stat --graph --pretty=format:'%C(yellow)%h%Creset (%ar - %Cred%an%Creset), %s%n'
        lp = log -p
        lps = log -p --show-signature
        logp = log -p
        br = branch
        bl = branch -l
        mm = merge main
[help]
	autocorrect = 20
[core]
        whitespace = cr-at-eol
        excludesfile = ~/.gitignore
        autocrlf = input
        editor = vi
[http]
        sslVerify = false
[pull]
        rebase = true
[push]
        default = simple
[status]
	showUntrackedFiles = all
[commit]
	gpgsign = true
[remote "origin"]
  prune = true
[commit]
  template = ~/.gitmessage
[diff]
  noprefix = true
[credential]
	helper = store
