[user]
        name = Craig Genner
        email = craig.genner@gamesparks.com
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[alias]
        co = checkout
        ci = commit
        st = status
        dc = diff --cached
        lg = log --decorate --stat --graph --pretty=format:'%C(yellow)%h%Creset (%ar - %Cred%an%Creset), %s%n'
        lp = log -p
        logp = log -p
        br = branch
        bl = branch -l
[core]
        whitespace = cr-at-eol
        excludesfile = ~/.gitignore
        autocrlf = input
[core]
        whitespace = cr-at-eol
        excludesfile = ~/.gitignore
        autocrlf = input
[http]
        sslVerify = false
[pull]
        rebase = true
[push]
        default = simple
[status]
        showUntrackedFiles = all
