Host *
        GSSAPIAuthentication no
#       ControlMaster auto
#       ControlPath ~/.ssh/connections/%r_%h_%p
        ServerAliveInterval 5
	ConnectTimeout 120
	VerifyHostKeyDNS yes

Host github.com gitlab.*
	ForwardAgent no
	ForwardX11 no
	ForwardX11Trusted no
	RequestTTY no

Host ec2*
	IdentityFile ~/.ssh/keys/aws.id_rsa
	StrictHostKeyChecking no
	IdentitiesOnly yes
	User ec2-user
	UserKnownHostsFile /dev/null

host i-* mi-*
	ProxyCommand sh -c "aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"


Host *+*
	ProxyCommand ssh $(echo %h | sed 's/+[^+]*$//;s/\([^+%%]*\)%%\([^+]*\)$/\2 -l \1/;s/:/ -p /') nc $(echo %h | sed 's/^.*+//;/:/!s/$/ %p/;s/:/ /')
